@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Libre+Baskerville:ital@0;1&family=Pacifico&family=Playfair+Display:wght@400;500&display=swap');
body {font-family: 'playfair display', sans-serif;}

h1 {
font-size: 96px;
text-align: left;
line-height:105%;
color: #BF8B78;
padding-top:70px;
}
p{line-height: 1.4;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
    font-size: 36px;
    color: #8C5F4F;
    text-align: start;
}

body{
padding-bottom: 70px;
text-align:justify;
padding-right: 681px;
padding-left: 96px;
margin: auto;
}
em{font-style:italic;
font-family: baskerville;
font-size: 21px;
color:#593D36 }


